.ticket-card {
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 0);
}


.ticket-type {
    -fx-background-color: transparent;
    -fx-font-size: 18px;

    -fx-font-weight: bold;
}

.ticket-price, .ticket-desc {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #323232;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}
.radio-button-label {
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
}

.back-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

.button-confirm {
    -fx-font-size: 15px;
    -fx-padding: 5px 10px;
    -fx-background-color: rgb(49, 49, 49);
    -fx-text-fill: white;
    -fx-background-radius: 5px;
}

.title-label {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.input-field {
    -fx-font-size: 15px;
    -fx-padding: 5px;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.booking-code {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

